* {
    list-style: none;
    box-sizing: border-box;
}
*:before,
*:after{
    box-sizing: border-box;
}
/*.hourly{
    display: none;
}
.hourly-style{
    display: none;
}
.hourly-head{
    display: none;
}*/
.contact{
    display: none;
}
@media screen and (min-width: 767px){
    .hourly{ display: flex !important}
    .hourly-style{ display: flex !important}
    .hourly-head{ display: block !important}


}
@media screen and (min-width: 1000px){
    .contact{ display: block !important}
    .container-data{
        display: flex !important;
        width: 50% !important;
        position: relative;
        left: 22em !important;
        bottom: 18em !important;
    }
    .hourly{
      position: relative;
      bottom: 20em !important;
    }
}
@media screen and (max-width: 1000px){
  .hourly{
    position: relative;
    bottom: 0em !important;
  }
}
body{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-size: 1em;
    font-family: arial, "arial thin", sans-serif;
}
#home{
    text-align: center;
    background-color: cornflowerblue;
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    padding: 1em 2em;
    margin-right: 0em;
    z-index: +1;
}
#locations{
    text-align: center;
    background-color: gold;
    display: inline;
    position: fixed;
    top: 0;
    left: 25%;
    width: 25%;
    padding: 1em 1em;
    margin-right: 0em;
    z-index: +1;
}

#about{
    text-align: center;
    background-color: orangered;
    display: inline;
    position: fixed;
    top: 0;
    left: 50%;
    width: 25%;
    padding: 1em 2em;
    margin-right: 0em;
    z-index: +1;
}
.logopic{
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 0em;
    width: 25%;
    z-index: +1;
}
#page-search{
    padding-top: 1em;
}
.wrapper{
    width: 100%;
    background-color: whitesmoke;
}
.circle-hi{
    width: 280px;
    height: 140px;
    background-color: orangered;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    left: 2%;
    border: 2px solid black;

}
.hi{
    position: relative;
    top: 2em;
    right: .5em;
    text-align: center;
    font-size: 2em;
}
.circle-lo{
    width: 280px;
    height: 140px;
    background-color: deepskyblue;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: relative;
    bottom: 0.1em;
    left: 2%;
    border: 2px solid black;
}
.lo{
    position: relative;
    top: .05em;
    list-style: none;
    text-align: center;
    font-size: 2em;
    right: .5em;
}
#conditions{
    list-style: none;
}
.forecast-block{
    line-height: 200%;
    font-weight: bold;
    position: relative;
    left: 0em;
    top: 70%;
    list-style: none;
    font-size: 1.5em;
}
.container-data{
    width: 80%;
    position: relative;
    left: 10%;
    background-color: limegreen;
    box-shadow: 0px 0px 5px black;
    margin-bottom: 7%;
}
#hi-lo{
    list-style: none;

}
.other{
    text-align: center;
    width: 80%;
    padding: 1em 2em;
    position: relative;
    left: 10%;
    top: 10px;
    background-color: aquamarine;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
}
.other li{
    display: inline;
}
.wireframe{
    position: relative;
    bottom: -7em;
}
#page-footer{
    color: white;
    background-color: blue;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contact{
    position: relative;
    z-index: 50;
}
.hourly{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10%;
    position: relative;
    bottom: 10em;
}
.hourly-style{
    border: 1px solid black;
    height: 60px;
    width: 60px;
    box-shadow: 0px 0px 4px black;
    border-radius: 5px;
    background-color: #fbff00;
    color: blue;
    text-align: center;
}
.hourly-style:nth-child(-n+6){
    background-color: midnightblue;
    color: white;
}
.hourly-style:nth-child(1n+20){
    background-color: midnightblue;
    color: white;
}
#info{
    background-color: lightcyan;
    position: relative;
    left: 10%;
    width: 80%;
    text-align: center;
    box-shadow: 0px 0px 7px black;
    border-radius: 4px;
}
