* {
    list-style: none;
    box-sizing: border-box;
}
*:before,
*:after{
    box-sizing: border-box;
}
.hourly{
    display: none;
}
.contact{
    display: none;
}
@media screen and (min-width: 767px){
    .hourly{ display: block !important}
    .forecast-block{
    top: 1em !important;
    color: red !important;}
}
@media screen and (min-width: 1000px){
    .contact{ display: block !important}
}
body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-size: 1em;
    font-family: arial, "arial thin", sans-serif;
}
#home{
    text-align: center;
    background-color: cornflowerblue;
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    padding: 1em 2em;
    margin-right: 0em;
    z-index: +1;
}
#locations{
    text-align: center;
    background-color: gold;
    display: inline;
    position: fixed;
    top: 0;
    left: 25%;
    width: 25%;
    padding: 1em 1em;
    margin-right: 0em;
    z-index: +1;
}
#about{
    text-align: center;
    background-color: orangered;
    display: inline;
    position: fixed;
    top: 0;
    left: 50%;
    width: 25%;
    padding: 1em 2em;
    margin-right: 0em;
    z-index: +1;
}
.logopic{
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 0em;
    width: 25%;
    z-index: +1;
}
#page-search{
    padding-top: 1em;
}
.wrapper{
    width: 100%;
    background-color: #71fcc7;
}
.circle-hi{
    width: 300px;
    height: 150px;
    background-color: orangered;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    left: 15%;
    border: 2px solid black;

}
.hi{
    position: relative;
    top: 2em;
    right: .5em;
    text-align: center;
    font-size: 2em;
}
.circle-lo{
    width: 300px;
    height: 150px;
    background-color: deepskyblue;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: relative;
    bottom: 0.1em;
    left: 15%;
    border: 2px solid black;
}
.lo{
    position: relative;
    top: .05em;
    list-style: none;
    text-align: center;
    font-size: 2em;
    right: .5em;
}
#conditions{
    list-style: none;
}
#forecast-block{
    line-height: 200%;
    font-weight: bold;
    position: relative;
    left: 0em;
    top: 70%;
    list-style: none;
    font-size: 1.5em;
}
.now{
    position: relative;
    display: inline;
    width: 50%;
    border: 1px solid black;
}
.precip{
    position: relative;
    display: inline;
    border: 1px solid black;
    width: 30%;
}
.wind{
    display: inline;
    border: 1px solid black;
}
.direction{
    display: inline;
    border: 1px solid black;
}
.long{
    display: inline;
    border: 1px solid black;
}
.lat{
    display: inline;
    border: 1px solid black;
}
.zip{
    display: inline;
    border: 1px solid black;
}
#hi-lo{
    list-style: none;

}
.other{
    position: relative;
    top: 3em;
}
.wireframe{
    position: relative;
    bottom: -7em;
}
#page-footer{
    color: white;
    background-color: blue;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contact{
    position: relative;
    z-index: 50;
}
.hourly-style{
    text-align: center;
    padding-top: 1em;
    display: inline-block;
    border: 1px solid black;
    width: 4em;
    height: 4em;
    background-color: greenyellow;
}
