* {
    font-family: helvetica, arial, sans-serif;
    list-style: none;
    margin: 0px;
}

nav #mainnav {
    margin: 0;
    height: 50px;
    box-shadow: 0px 4px 5px grey;
    background-color: #4c4947;
    display: flex;
    justify-content: space-between;
}

nav span {
    font-family: 'Nunito', san-serif;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 0.4em;
    margin-left: 0.7em;
    color: #6ead3a;
}

nav span a {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 0.4em;
    margin-left: 0.7em;
    text-decoration: none;
}

span a:visited {
    color: #6ead3a;
}

nav ul {
    margin-top: 0.5em;
    margin-right: 1em;
    overflow: hidden;
    color: white;
    font-size: 16pt;
    
    margin: 0;
    padding: 0;
/*
    display: flex;
    justify-content: space-between;
*/
}

nav ul li {
/*    border: 1px solid gray;*/
    float: right;
    display: inline;
}


nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav ul li a:hover {
    color: #00edff;
}

nav ul li a:link {
    color: white;
    text-decoration: none;
}

nav ul li a:visited {
    color: white;
}

#spacer {
    height: 3.5em;
}

header {

}

main {
    padding-left: 2%;
    background: url(../img/panorama-small.jpeg) no-repeat  fixed; 
    background-color: #21201f;
    background-size: contain;
    padding-top: 3em;
    padding-bottom: 7.4em;
    height: 40em;
}
main img {

}

#lander {
    width: 95%;
    height: 40em;
    position: fixed;
    top: 15%;
    box-shadow: 5px 0px 10px grey;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    
}

footer {
    width: 100%;
    height: 10em;
    color: white;
    background-color: #21201f;

}

#data {
    
    padding-left: 5%;
    width: 35%;
}

#data p {
    font-size: 14pt;
    border: 1px solid black;
    border-radius: 5px;
    color: dimgray;
    background-color: #B0E1B0;
}

footer #foot{
    text-align: center;
    background-color: aqua;
}

footer a:link {
    color:deepskyblue;
}

@media screen and (min-width: 600px){
    
}

@media screen and (min-width: 1024px){
    #lander {
        top: 20%;
    }
}