* {
    box-sizing: border-box;
}

*:before,
*:after{
    box-sizing: border-box;
}

body{
    background-color: red;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-size: 1em;
    font-family: arial, "arial thin", sans-serif;

}
#wrapper{
    width: 100%;
    background-color: white;
}

#hi-lo{
    list-style: none;
    display: flex;
}
#hi-lo>li{
    flex: 1 1 auto;
}

/*#hi-lo #conditions{
    width: 50%;
}*/
/*.searchtext{
    width: 80%;
}*/

#page-header form input[placeholder]{
    width: 80%;
}
