* {
  font-family: arial, "arial thin", sans-serif;
  box-sizing: border-box;

}

@media screen and (min-width: 767px){
    #wrapper{
        text-align: center;
        width: 80%;
        padding: 1em 2em;
    }
    .rockettext{
        font-size: 140% !important;
        bottom: 10% !important;
    }
    .reviews{
        width: 47%;
        left: 50%;
        background-color: #808080;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 2px 2px 5px black;
    }
    #recipies{
        width: 47%;
        position: relative;
        bottom: 8.5em;
    }
    #details > img{
        width: 40% !important;
        left: 1% !important;
        
    }
    #deets{
        width: 55%;
        position: absolute;
        left: 40%;
        bottom: 20%;
    }
    
}
@media screen and (min-width: 850px){
    .genius{
        max-height: 27em;
    }
}
@media screen and (min-width: 1024px){
    body{
        width: 89%;
        margin: 5%
    }
    #deets{
        width: 45%;
        bottom: 6%;
        position: absolute;
        left: 45%;
        font-size: 130%;
    }
}
html{
  background-image: url("../images/site/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body{
/*
    width: 95%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
*/
}
.wrapper {
    display: block;
}
#page-header {
    background-color: #ffffff;
    text-align: center;
}
header > img.wide {
  height: 10%;

  /*background-size: auto 100%;
  z-index: 20;*/
}
#page-nav {
  background-color: #de2226;
  position: relative;
  bottom: 1em;
}
#nav-items{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
#nav-items > li{
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: bold;
}
#nav-items > li > a {
  color: #ffffff;
  text-decoration: none;
}
#nav-items > li:hover{
  background-color: #808080;
}
#homecontent{
    background-color: white;
}
.genius{
    width: 100%;
/*    height: 25em;*/
}
@media screen and (min-width: 500px) and (max-width: 767px){
    .rockettext{
        bottom: 31% !important;
    }
}
.rockettext{
    width: 50%;
    list-style: none;
    text-align: center;
    font-size: 80%;
    position: absolute;
    left: 45%;
    bottom: 37%;
    padding: 0;
    margin: 0;
    
}
.reviews{
    color: #ffffff;
    background-color: #990033;
    margin: 0 !important;
    text-align: left !important;
    position: relative;
    top: 1em;
    font-size: 80%;    
}
#recipies > ul{
    list-style: none;
    font-size: 80%;
    position: relative;
    right: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    
}
#product{
    visibility: hidden;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
#details > img{
    width: 80%;
    position: relative;
    left: 10%;
    max-height: 20em;
}
#deets{
    
}
.price{
    list-style: none;
    color: #de2226;
    text-align: center;
    position: relative;
    right: 10%;
    top: 1em;
    font-size: 150%;
}
@media screen and (max-width: 767px){
    #actionbtn {
    width: 55%;
    }
    main{
        font-size: 95%;
    }
}
footer {
  border-top: solid #000000;
    text-align: center;
}
